button {
    font: var(--textFontSizes);
    color: var(--white);
    background-color: var(--black);
    border: 2px solid;
    border-color: var(--black);
    border-radius: 16px;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.add_checklist {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--red);
    border-color: var(--red);
    
    img {
        scale: 1.5;
    }
}

.delete,
.removeTask {
    border-color: var(--red);
}

.removeTask {
    padding: 0 4px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    right: 0;
}

.add_task,
.back {
    border-color: var(--white);
}

.edit {
    border-color: var(--yellow);
}

.valid {
    border-color: var(--green);
}