:root {
    /* Colors */
    --blue: #26547C;
    --red: #EF476F;
    --yellow: #FFD166;
    --black: #1A1A1A;
    --white: #FFFFFF;
    --green: #06D6A0;

    /* Fonts sizes*/
    --bigTextFontSizes: bolder 2.5rem 'Roboto', sans-serif;
    --titleFontSizes: bolder 2rem 'Roboto', sans-serif;
    --taskFontSizes: 1.5rem 'Roboto', sans-serif;
    --textFontSizes: 1rem 'Roboto', sans-serif;

}

/* Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first */
/* Style general */
html {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue);
}

h1 {
    font: var(--bigTextFontSizes);
    color: var(--yellow);
}

h2 {
    font: var(--titleFontSizes);
    color: var(--yellow);
}

p {
    font: var(--textFontSizes);
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: var(--textFontSizes);
    color: var(--white);
    background-color: var(--black);
    border: 2px solid;
    border-color: var(--black);
    border-radius: 16px;
    padding: .75rem 1.25rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    p {
        display: none;
    }
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .btn_add_checklist {
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: var(--red);
        border-color: var(--red);
        img {
            scale: 1.5;
        }
    }
    .btn_delete {
        border-color: var(--red);
    }
    .btn_add_task,
    .btn_back {
        border-color: var(--white);
    }
    .btn_edit {
        border-color: var(--yellow);
    }
    .btn_validate {
        border-color: var(--green);
    }

    /* Header */
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 1rem 2rem;
        background-color: var(--blue);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /* Main */
    main {
        flex-grow: 1;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--black);
        
        p {
            color: rgba(255, 255, 255, .25);
            text-align: center;
        }
    }
}

/* Responsive */
@media screen and (width <= 425px) {
    h1 {
        font-size: 20px;    
    }
}

@media (width >= 758px) {
    html {
        font-size: 16px;
    }
}
