/* Mobile first */

/* Responsive */
@media (width >= 560px) {
    #root {
        main {
            ul {
                padding: 4rem 2rem;
                display: grid;
                align-items: center;
                justify-items: center;
                gap: 2rem 5rem;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

                /* Checklist Card */
                .card_checklist {
                    height: 500px;
                    width: 400px;
                    padding: 1rem;
                }
            }
        }
    }
}